/*FIRST SECTION*/
.hero{
    margin: 15px;
}
.hero h1{
    text-align: center;
}

.hero-content{
    text-align: center;
}

.hero-content input[type="text"]{
    width: 300px;
    text-align: center;
}

.goBtn{
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0.2rem;
}

.upBtn{
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    letter-spacing: 0.2rem;
}

#alert_msg{
    color: black;
    font-size: 18px;
}

.succes_signup_modal{
    text-align: center;
}

/*SECOND SECTION*/

.info-page{
    text-align: center;
}

.info-page p{
    margin-top: 20px;
}

.info-coins{
    text-align: center;
}

.info-coins p{
    margin-top: 20px;
}

.info-donate{
    text-align: center;
}

.info-donate p{
    margin-top: 20px;
}

.pool h2{
    text-align: center;
    margin-top: 20%;
}

/*FOOTER SECTION*/
.ends{
    text-align: center;
    background-color: black;
    height: auto;
    font-size: 40px;
}
.parallax{
    background: #fff no-repeat 50% 50%;
    background-size: cover;
}

/*FAUCET HTML STYLEE*/
.hero-balance{
    margin: 50px 0px 50px 0;
}

.balance{
    padding: 20px 0 10px 0;
    text-align: center; 
    background-color: #343a40;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

#balance{
    font-size: 26px;
    color: #877d7d;
}

.unlock-balance{
    padding: 20px 0 10px 0;
    text-align: center; 
    background-color: #343a40;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

#unlock-balance{
    font-size: 26px;
    color: #877d7d;
}

.total-balance{
    padding: 20px 0 10px 0;
    text-align: center; 
    background-color: #343a40;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

#total-balance{
    font-size: 26px;
    color: #877d7d;
}

.form-group-claim{
    text-align: center;
}

.form-group-claim label{
    font-size: 32px;
}